.index-title h5{
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 30pt;
}
.index-title{
  margin-top: 3.5%!important;
  margin-bottom: -2%!important;
}
a{
  color: black!important;
}
.index-link:nth-child(odd){
  background: #212121;
  color: white;
  font-family: 'Lobster';
}
.index-link:nth-child(even){
  background: #e9e9e9;
  color: #212121;
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
}
.index-links{
  margin-left: 7%!important;
  margin-top: 5%!important;
  min-width: 90vw;
}
.index-links .lower{
  position: relative!important;
  top: -1.6vw!important;
}
.lower .index-link-lower:nth-child(even){
  background: #212121;
  color: white;
  font-family: 'Lobster';
}
.lower .index-link-lower:nth-child(odd){
  background: #e9e9e9;
  color: #212121;
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
}
.index-link, .index-link-lower{
  min-height: 19vw;
  min-width: 19vw;
  font-size: 30px;
}
